@import "css/theme.css";

/* Dynamic Buttons */
input[type=button]{
    font-size: 1.4vw;
    color: var(--button-text-color);
    border-radius: 0.5vw;
    border-color: var(--text-color);
    padding: 0.6vw;
    width: fit-content;
    height: fit-content;
    background: var(--complement-color);
    transition: all ease-in-out 250ms;

}
input[type=button]:hover{
    background: var(--complement-hover-color);
    color: var(--complement-text-color);
    transform: scale(1.2);
}

@media only screen and (orientation:portrait) { 
    /* Dynamic Button */
    input[type=button]{
        font-size: 3vw;    
    }
}