@import url("theme.css");

.button {
    font-size: 3vw;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.2rem;
    padding: 3vh;
    width: fit-content;
    height: fit-content;
    background-color: var(--button-bg);
    border-color: white;
    transition: all ease-in-out 250ms;
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: "Oxygen";
}

.button:hover {
    background-color: var(--button-bg-hover);
    filter: drop-shadow(0 0 0.75rem var(--button-glow-hover));
}