@import "theme.css";

.experience-box {
    width: 60vw;
    height: fit-content;
    background: var(--complement-color);
    padding: 1vw;
    text-align: left;
    margin: auto;
    margin-top: 0vh;
    color: var(--complement-text-color);
    font-family: Verdana, sans-serif;
    border-radius: 0.5vw;
    display: flex;
    transition: all ease-in-out 250ms;
}

.experience-box:hover {
    width: 62vw;
    background: var(--complement-hover-color);
    color: var(--complement-text-color);
}

.experience-box h1{
    font-size: 2vw;
    
}

.experience-box h2{
    font-size: 1vw;
}

.experience-box .job-name {
    flex: 1;
}

.experience-box .job-date {
    position: relative;
    align-content: right;
    text-align: right;
    right: 0px;
}

.experience-box .job-date span {
    font-size: 2vw;
}

.experience-info {
    width: 58vw;
    color: var(--text-color);
    background: var(--panel-color);
    text-align: left;
    height: fit-content;
    padding: 0.5vw;
    text-align: left;
    margin: auto;
    margin-top: 0vh;
}

.experience-info p {
    font-size: 1.5vw;
}

@media only screen and (orientation:portrait) {
    .experience-box{
        width: 80vw;
    }

    .experience-box h1{
        font-size: 3vw;
    }
    
    .experience-box h2{
        font-size: 2vw;
    }

    .experience-box:hover {
        width: 85vw;
    }

    .experience-box .job-date span {
        font-size: 3vw;
    }

    .experience-info {
        width: 75vw;
    }

    .experience-info p {
        font-size: 3vw;
    }

}