

/* Menu button */
.btn{
    position: sticky;
    top: 1vh;
    left: 1vw;
    height: 3vw;
    width: 3vw;
    background: rgba(36, 35, 107, 0.759);
    border-radius: 0.3vw;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
    transition: right 0.4 ease-in-out;
}

.bth:hover{
    background: rgba(21, 78, 26, 0.759);
    color: rgba(192, 210, 194, 0.759);
}

.btn.click{
    left: 21vw;
}

.btn span{
    color: white;
    font-size: 2vw;
    line-height: 3vw;
}

.btn.click span:before{
    content: '\f00d';
}

/* Dynamic Menu */
.sidebar{
    margin-top: calc(-1vh - 3vw);
    position: fixed;
    width: 20%;
    height: 100%;
    left: -20%;
    background:rgba(36, 35, 107, 0.759);
    transition: left 0.4s ease;
}

.sidebar.show{
    left: 0%;
}

.sidebar .text{
    color: white;
    font-size: 5vh;
    font-weight: 700;
    line-height: -1vh;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Navigation Fields */
nav ul{
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li{
    line-height: 15vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 250ms;
}

nav ul li:hover{
    line-height: 20vh;
}

/* Selection */
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
    padding-left: 1vw;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 0.5vw solid transparent;
}

nav ul li a:hover{
    color: rgb(219, 255, 223);
    background: rgba(35, 107, 42, 0.759);
    border-left-color: rgb(11, 59, 15);
}

nav ul ul{
    position: static;
    display: none;
}

nav ul ul li{
    line-height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 250ms;
}

nav ul ul li:hover{
    line-height: 12vh;
}

/* Sub-selection */
nav ul ul li a{
    font-size: 1.5vw;
    /*color:*/
    padding-left: 2.5vw 
}

nav ul li a span{
    position: relative;
    top: 50%;
    transition: transform 0.4s;
}

nav ul li a:hover span{
    transform: scale(1.2);
}

nav ul li a span.rotate{
    transform: rotate(-180deg);
}

nav ul .portfolio-show.show{
    display: block;
}


@media only screen and (orientation:portrait) { 
    /* Navigation Fields */
    .sidebar{
        /* Make go out further */
        width: 80%;
        left: -80%;
        /* Change offset */
        margin-top: calc(-1vh - 7vw);
    }
    
    nav ul li a{
        font-size: 8vw;
        padding-left: 1vw;
        width: 100%;
        border-left: 1vw solid transparent;
    }
    
    nav ul ul{
        position: static;
        display: none;
    }
    
    nav ul ul li a{
        font-size: 4vh;
        /*color:*/
        padding-left: 8vh; 
    }
    
    nav ul li a span{
        position: relative;
        top: 50%;
        transition: transform 0.4s;
    }

    /* Open Menu button */
    .btn.click{
        left: 81%;
    }


    .btn{
        position: sticky;
        top: 1vh;
        left: 1vw;
        height: 7vw;
        width: 7vw;
        background: rgba(36, 35, 107, 0.759);
        padding: 1.7vw;
        border-radius: 0.3vw;
        text-align: center;
        cursor: pointer;
        transition: left 0.4s ease;
    }

    .btn span{
        font-size: 4vw;
        line-height: 3.5vw;
    }
}