@import url("theme.css");

.section {
    background-color: var(--mesh-color-bg);
    height: 100%;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}