


.hidden {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 2s;
}

.hidden #move-up {
    opacity: 0;
    transform: translateY(20%);
}

.show #move-up {
    transform: translatey(0%);
}

#first {
    transition-delay: 0ms;
}

#second {
    transition-delay: 100ms;
}

#third {
    transition-delay: 200ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

/* accessibility */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}