/* theme.css 
Stores common colors and styles
*/

:root{
    /* Animated Mesh Gradient Colors */
    --mesh-color-bg: #fff9d2;
    --mesh-color-mouse: #ffdbae7c;
    --mesh-color-1: #ffa760;
    --mesh-color-2: #F7D060;
    --mesh-color-3: #ff9560;
    --mesh-color-4: #F3E99F;

    /* Button Colors */
    --button-bg: #ff017c00;
    --button-bg-hover: #93ffa321;
    --button-glow-hover: #3fe19d;
    --button-color: #33a378;

    /* Text Colors */
    --title-color: #33a378;
    --subtite-color: #ffffe1;

    /* Display Box */
    --display-bg-color: none;
    --display-box-color: var(--title-color);
    --display-title-color: var(--title-color);
}