/* theme.css 
Stores common colors and styles
*/

:root{
    /* Animated Mesh Gradient Colors */
    --mesh-color-bg: #F1E3F3;
    --mesh-color-mouse: #f1e3f357;
    --mesh-color-1: #C2BBF0;
    --mesh-color-2: #8FB8ED;
    --mesh-color-3: #62BFED;
    --mesh-color-4: #3590F3;

    /* Button Colors */
    --button-bg: #ff017c00;
    --button-bg-hover: #93ffa321;
    --button-glow-hover: #ffffff;
    --button-color: #ffffff;

    /* Text Colors */
    --title-color: #ffffff;
    --subtite-color: #ffffff;
    --subtitle-color: #ffffff;

    /* Display Box */
    --display-bg-color: none;
    --display-box-color: var(--title-color);
    --display-title-color: var(--title-color);

    /* Section */
    --section-bg-color: var(--title-color);
    --section-text-color: var(--subtitle-color);

    /* About Me */
    --about-me-bg-color: #33a37839;

    /* Slideshow */
    --dot-color: #4f0c79;
    --dot-hover: #ffffff;
    --slideshow-element-background: #6e217b9f;
    --image-hover: #c23ea136;

    /* Basic Styles */
    a {
        color: var(--subtitle-color);
    }

    a:hover {
        filter: drop-shadow(0 0 0.75rem var(--button-glow-hover));
        color: var(--dot-color);
    }
}