/* theme.css 
Stores common colors and styles
*/

:root{
    /* Animated Mesh Gradient Colors */
    --mesh-color-bg: #fff9d2;
    --mesh-color-mouse: #ffffffde;
    --mesh-color-1: #6a60ff;
    --mesh-color-2: #e860f7;
    --mesh-color-3: #60aaff;
    --mesh-color-4: #ca9ff3;

    /* Button Colors */
    --button-bg: #ff017c00;
    --button-bg-hover: #93ffa321;
    --button-glow-hover: #ffffff;
    --button-color: #ffffff;

    /* Text Colors */
    --title-color: #ffffff;
    --subtite-color: #ffffff;
    --subtitle-color: #ffffff;

    /* Display Box */
    --display-bg-color: none;
    --display-box-color: var(--title-color);
    --display-title-color: var(--title-color);

    /* Section */
    --section-bg-color: var(--title-color);
    --section-text-color: var(--subtitle-color);

    /* About Me */
    --about-me-bg-color: #33a37839;
}