*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.btn{
    position: absolute;
    top: 1vh;
    left: 1vw;
    height: 3vw;
    width: 3vw;
    background: rgba(36, 35, 107, 0.759);
    border-radius: 0.3vw;
    text-align: center;
    cursor: pointer;
    transition: left 0.4s ease;
}

.bth:hover{
    background: rgba(21, 78, 26, 0.759);
    color: rgba(192, 210, 194, 0.759);
    transform: scale(1.1);
}

.btn.click{
    left: 21vw;
}

.btn span{
    color: white;
    font-size: 2vw;
    line-height: 3vw;
}

.btn.click span:before{
    content: '\f00d';
}

.sidebar{
    margin-top: 0%;
    position: fixed;
    width: 20%;
    height: 100%;
    left: -20%;
    background:rgba(36, 35, 107, 0.759);
    transition: left 0.4s ease;
}

.sidebar.show{
    left: 0%;
}

.sidebar .text{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.5vh;
    text-align: center;
    letter-spacing: 1px;
}

nav ul{
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
    padding-left: 1vw;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 0.5vw solid transparent;
}

nav ul li a:hover{
    color: rgb(219, 255, 223);
    background: rgba(35, 107, 42, 0.759);
    border-left-color: rgb(11, 59, 15);
}

nav ul ul{
    position: static;
    display: none;
}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a{
    font-size: 1.5vw;
    /*color:*/
    padding-left: 2.5vw 
}

nav ul li a span{
    position: relative;
    top: 50%;
    left: 6vw;
    transition: transform 0.4s;
}

nav ul li a:hover span{
    transform: scale(1.2);
}

nav ul li a span.rotate{
    transform: rotate(-180deg);
}

nav ul .portfolio-show.show{
    display: block;
}


.box-img{
    border-radius: 50%;
    width:10rem;
    height:10rem;
}

body{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(Images/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.box h1{
    font-size: 3vw;
}

input[type=button]{
    font-size: 1.4vw;
    color: white;
    border-radius: 1vw;
    border-color: white;
    padding: 0.6vw;
    width: fit-content;
    height: fit-content;
    background: rgba(35, 107, 42, 0.759);
    transition: all ease-in-out 250ms;

}
input[type=button]:hover{
    background: rgba(21, 78, 26, 0.759);
    color: rgba(192, 210, 194, 0.759);
    transform: scale(1.1);
}

.box{
    width: 80vw;
    height: 90%;
    background: rgba(36, 35, 107, 0.759);
    padding: 1vw;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: Verdana, sans-serif;
    border-radius: 0.5vw;
}

.box ul{
    margin: 0;
    padding: 0;

}

.box li{
    display: inline-block;
    margin: 2vw;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 5vw;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: rgb(142, 142, 142);
    transform: scale(1.1);
}

:root{
    font-family: Verdana, sans-serif;
}

main{
    margin-left: 1vw;
}

main::-webkit-scrollbar{
    width: 0.25rem;
}

main::-webkit-scrollbar-track{
    background: rgb(21, 24, 111);
}

main::-webkit-scrollbar-thumb{
    background: rgb(38, 164, 65);
}
 
/*mobile view*/
@media only screen and (orientation:portrait) { 
    .sidebar{
        margin-top: 0%;
        position: fixed;
        width: 80%;
        height: 100%;
        left: -80%;
        background:rgba(36, 35, 107, 0.759);
        transition: left 0.4s ease;
    }
    
    .sidebar.show{
        left: 0%;
    }
    
    .sidebar .text{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        line-height: 0.5vh;
        text-align: center;
        letter-spacing: 1px;
    }
    
    nav ul{
        height: 100%;
        width: 100%;
        list-style: none;
    }
    
    nav ul li{
        line-height: 15vh;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    
    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 4vw;
        padding-left: 1vw;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left: 1vw solid transparent;
    }
    
    nav ul li a:hover{
        color: rgb(219, 255, 223);
        background: rgba(35, 107, 42, 0.759);
        border-left-color: rgb(11, 59, 15);
    }
    
    nav ul ul{
        position: static;
        display: none;
    }
    
    nav ul ul li{
        line-height: 42px;
        border-bottom: none;
    }
    
    nav ul ul li a{
        font-size: 3vw;
        /*color:*/
        padding-left: 2.5vw 
    }
    
    nav ul li a span{
        position: relative;
        top: 50%;
        left: 53vw;
        transition: transform 0.4s;
    }
    
    nav ul li a:hover span{
        transform: scale(1.2);
    }
    
    nav ul li a span.rotate{
        transform: rotate(-180deg);
    }
    
    nav ul .portfolio-show.show{
        display: block;
    }

    .btn.click{
        left: 81%;
    }
    
    .btn span{
        color: white;
        font-size: 4vw;
        line-height: 2vh;
    }
    
    .btn.click span:before{
        content: '\f00d';
    }

    .btn{
        position: absolute;
        top: 1vh;
        left: 1vw;
        height: 7vw;
        width: 7vw;
        background: rgba(36, 35, 107, 0.759);
        padding: 1.7vw;
        border-radius: 0.3vw;
        text-align: center;
        cursor: pointer;
        transition: left 0.4s ease;
    }

    input[type=button]{
        font-size: 3vw;
        color: white;
        border-radius: 1vw;
        border-color: white;
        padding: 0.6vw;
        width: fit-content;
        height: fit-content;
        background: rgba(35, 107, 42, 0.759);
        transition: all ease-in-out 250ms;
    
    }
    input[type=button]:hover{
        background: rgba(21, 78, 26, 0.759);
        color: rgba(192, 210, 194, 0.759);
        transform: scale(1.1);
    }
}

