
.box-img{
    border-radius: 50%;
    width:10rem;
    height:10rem;
}

body{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url(Images/bg.jpg) no-repeat;
    background-size: cover;
}

.box h1{
    font-size: 2rem;
}

.box{
    width: 50rem;
    background: rgba(0,0,0,0.5);
    padding: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-family: Verdana, sans-serif;
}

.box ul{
    margin: 0;
    padding: 0;

}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: rgb(142, 142, 142);
}

:root{
    font-family: Verdana, sans-serif;
}

main{
    margin-left: 5rem;
}

main::-webkit-scrollbar{
    width: 0.25rem;
}

main::-webkit-scrollbar-track{
    background: rgb(21, 24, 111);
}

main::-webkit-scrollbar-thumb{
    background: rgb(38, 164, 65);
}

